[project]
	description = Apache Impala
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Jian Zhang (zz-jason)
[access "refs/for/refs/*"]
	read = group user/Jian Zhang (zz-jason)
	push = group user/Jian Zhang (zz-jason)
	label-Code-Review = -2..+2 group user/Jian Zhang (zz-jason)
	label-Verified = -1..+1 group user/Jian Zhang (zz-jason)
	rebase = group user/Jian Zhang (zz-jason)
	removeReviewer = group user/Jian Zhang (zz-jason)
	submit = group user/Jian Zhang (zz-jason)
[access "refs/heads/*"]
	read = group user/Jian Zhang (zz-jason)
	create = group user/Jian Zhang (zz-jason)
	push = +force group user/Jian Zhang (zz-jason)
	pushMerge = group user/Jian Zhang (zz-jason)
[access "refs/tags/*"]
	push = group user/Jian Zhang (zz-jason)
	push = +force group user/Jian Zhang (zz-jason)
